.character {
  margin-bottom: 25px;
}

.character .character-image {
  width: 250px;
  height: 250px;
}

.character .character-name {
  font-size: 20px;
  font-weight: bold;
}

.character .character-description a {
  padding: 0 5px 0 5px;
}
