@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
  font-family: 'Bangers', cursive;
  @apply text-5xl;
}

.github-repo {
  @apply inline-flex items-center p-3
  border text-white border-white 
  hover:bg-white 
  hover:text-red-700 rounded;
}
